table.default-table{
    /* -moz-border-radius: 5px;  
    -webkit-border-radius:5px;  
    border-radius:5px; */
    color: dimgrey;
    width: 100%;
    border:solid #333;
    border-width:1px 0px 0px 1px;
    font-size: 13px;
    border-collapse: collapse;
    border-spacing: 0;


    table-layout:fixed;/*让文本超出变。。。*/
}
table.default-table tbody tr{
    height: 20px;
    line-height: 20px;
}
table.default-table tbody tr.odd{
    background-color: #fff;
}
table.default-table tbody tr.even{
    background-color: #F5F5F5;
}
table.default-table tbody tr:hover{
    background-color: #eee;
    color: #626262;
}
table.default-table tbody tr th,table.default-table tbody tr td{
    padding:3px 5px;
    text-align: center;
    /* border: 1px solid #ddd; */
    border:solid #e4e4c7;
    border-width:0px 1px 1px 0px;


/*让td中文本超出变成。。*/
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
table.default-table tbody tr th{
    font-weight: bold;
    text-align: center;
}

table.default-table tbody tr td.tac{
    text-align: center;
}
table.default-table tbody tr td a:hover{
    color:#0080c0;
}
.footpage{
    position: fixed;
    margin-left: 45%;
    bottom: 4px;
    color: white;
}

.btn{
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    height: 41px;
    background: #03a4c9;
    font-size: large;
    color: white;
    border: 1px solid #f3e4e4;
    line-height: 40px;
    border-radius: 11px;
}
.comment{
    margin-left: 30%;
    background: none;
    border: 0.5px solid cornflowerblue;
    height: 28px;
    width: 300px;
    border-radius: 3px;
    line-height: 28px;
    color: #333333;
}
.bttn{
       height: 28px;
       width: 60px;
       border-radius: 5px;
       background: none;
       line-height: 28px;
       color: white;
       border-style: none;
       background: #03a4c9;
   }
.btn2{
    margin-top: 10px;
    vertical-align: middle;
    width: 98.4%;
    height: 41px;
    background: pink;
    font-size: large;
    color: white;
    border: 1px solid #f3e4e4;
    line-height: 30px;
    border-radius: 11px;

}
.btn-o-r{
    border: 0.5px solid cadetblue;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 8px;
    width: 65px;
    float: right;margin-right: 15%
}
.btn-o-l{
    border: 0.5px solid cadetblue;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 8px;
    float: left;margin-left: 15%
}